<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤデータベース！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
    <% result = connection.exec("SELECT * FROM crops WHERE not (give_for = '自家消費');") %>
    <% data1 = [] %>
    <% result.each do |record| %>
      <%  data1 << "長さ：#{record["length"]}　重量：#{record["weight"]} 品質：#{record["quality"]} 販売先:#{record["give_for"]} 販売日:#{record["date"]}" %>
    <% end %>
    <% result = connection.exec("SELECT * FROM crops WHERE quality = false;") %>
    <% data2 = [] %>
    <% result.each do |record| %>
      <%  data2 << "長さ：#{record["length"]}　重量：#{record["weight"]} 品質：#{record["quality"]} 販売先:#{record["give_for"]} 販売日:#{record["date"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの販売先の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの販売先の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
